html {
  scroll-behavior: smooth;
}
::selection {
  background: #93b2ff; /* Safari */
}
:root {
  --purple: #e64dff;
  --lightblue: #00e0ff;
}

.slide-in {
  animation: slide-in 0.5s ease forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
    visibility: visible;
  }
  to {
    transform: translateX(0%);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
form {
  margin: 100px 0 0;
  display: grid;
  flex-wrap: wrap;
  width: 75%;
}

form > input {
  flex: 1 1 10ch;
  margin: 0.5rem;
}

form > input[type="email"] {
  flex: 3 1 30ch;
}
input {
  border: none;
  font-family: HalvarRegular;
  font-size: 36px;
  background: #fafafa;
  border-radius: 200px;
  padding: 60px 75px;
  transition: all 0.3s;
  border: 0px solid #e8e8e8;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input:focus {
  outline: none;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.15);
  outline-color: #e8e8e8;
}
input[type="submit"] {
  width: 50%;
  background: linear-gradient(-45deg, #ff0051, #ff00f2, #00fff7, #0015ff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: #fafafa;
  cursor: pointer;
  transition: all 0.3s;
}
input[type="submit"]:hover {
  transform: scale(0.9);
  outline: 0px;
}
input[type="submit"]:active {
  transform: scale(0.8);
  outline: 0px;
}
input[type="submit"]:not(:focus) {
  outline: 0px;
}
input:valid {
  outline: 2px solid rgb(0, 255, 47);
}
input:invalid {
  outline: 2px solid #ff0044;
}
input:not(:focus):invalid {
  outline: 0px solid #e8e8e8;
}
@font-face {
  font-family: "HalvarBlack";
  src: url(font/HalvarBreit-Blk.woff2);
}
@font-face {
  font-family: "HalvarExtraBold";
  src: url(font/HalvarBreit-XBd.woff2);
}
@font-face {
  font-family: "HalvarBold";
  src: url(font/HalvarBreit-Bd.woff2);
}
@font-face {
  font-family: "HalvarRegular";
  src: url(font/HalvarBreit-Rg.woff2);
}
@font-face {
  font-family: "HalvarLight";
  src: url(font/HalvarBreit-Lt.woff2);
}
@font-face {
  font-family: "HalvarMedium";
  src: url(font/HalvarBreit-Md.woff2);
}
body {
  font-family: HalvarBold;
  background: linear-gradient(-45deg, #fff6f9, #ffeffe, #e3fffe, #bdc2ff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
.phone {
  display: none;
}
.nav {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.nav .nav-links-container {
  position: relative;
}
.nav .nav-links-container ul {
  margin-top: 10%;
  float: right;
  list-style: none;
  display: inline-block;
  font-family: "HalvarExtraBold";
  font-size: 96px;
}
.nav-open .nav-icon-2 span {
  background-color: #202429;
  position: absolute;
  transition: all 0.1s;
}
.nav-open .nav-icon-2 span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 19px;
  left: 0px;
}
.nav-open .nav-icon-2 span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 19px;
  left: 0px;
}
.nav-open .nav-icon-2 span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 19px;
  left: 0px;
}
.nav-open body {
  opacity: 0;
}
.nav-open .social-links {
  display: none;
}
.nav-open .navbar nav ul li a {
  display: none;
}
.nav-open .proekt {
  display: none;
}
.nav-open .row {
  display: none;
}
.nav-open .nav {
  transform: translateX(0);
}
.nav-open .main {
  position: relative;
  transform: translateX(-8%);
}
.main {
  transition: transform 0.3s;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  background: #fafafa;
  transform: translateX(200%);
  transition: transform 0.4s;
  overflow: hidden;
}
.nav__link1:hover {
  background: linear-gradient(
    to right,
    #9d1dff 0%,
    #6eeeff 20%,
    #00e0ff 40%,
    #e64dff 60%,
    #ff5087 80%,
    #9d1dff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
.nav__link2:hover {
  background: linear-gradient(
    to right,
    #3300ff 0%,
    #9900ff 15%,
    #ff00fb 30%,
    #ff0055 45%,
    #ff00fb 60%,
    #9900ff 75%,
    #3300ff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
.nav__link3:hover {
  background: linear-gradient(
    to right,
    #ff0263 0%,
    #ff008c 20%,
    rgb(255, 0, 128) 40%,
    #ff00d9 60%,
    #ff0084 80%,
    #ff0263 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
.nav__link4:hover {
  background: linear-gradient(
    to right,
    #00fbff 0%,
    #49ff8c 20%,
    #06fff7 40%,
    #00ffae 60%,
    #00ff1a 80%,
    #00fbff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
.nav__link1 {
  float: right;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #202429;
  padding: 30px 0px;
  transition: all 0.3s;
}
.nav__link2 {
  float: right;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #202429;
  padding: 30px 0px;
  transition: all 0.3s;
}
.nav__link3 {
  float: right;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #202429;
  padding: 30px 0px;
  transition: all 0.3s;
}
.nav__link4 {
  float: right;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #cedbeb;
  padding: 30px 0px;
  transition: all 0.3s;
}
.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar {
  padding-top: 60px;
  width: 100%;
  display: flex;
}
.menu {
  margin: auto;
  cursor: pointer;
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-2 {
  margin: auto;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-2 span {
  background-color: #202429;
  position: absolute;
  transition: all 0.1s;
}
.nav-icon-2 span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}
.nav-icon-2 span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 19px;
  left: 0px;
}
.nav-icon-2 span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}
.nav-icon-2:not(.open):hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 5px;
  left: 0px;
  transition: all 0.1s;
}
.nav-icon-2:not(.open):hover span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 19px;
  left: 0px;
  transition: all 0.1s;
}
.nav-icon-2:not(.open):hover span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 5px;
  left: 0px;
  transition: all 0.1s;
}
nav {
  flex: 1;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  float: left;
  text-decoration: none;
  color: #202429;
  font-size: 48px;
  font-family: HalvarBold;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 0;
}
.col-1 span4 {
  font-size: 144px;
}
.col-1 {
  position: relative;
  color: #202429;
  overflow: hidden;
  width: 100%;
}
.infinity {
  margin: 50px 0 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 3s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.infinity h2 {
  display: inline-block;
}
.col-1 h3 {
  font-size: 144px;
  position: relative;
  color: #202429;
  background: linear-gradient(
    to right,
    #9d1dff 0%,
    #6eeeff 20%,
    #00e0ff 40%,
    #e64dff 60%,
    #ff5087 80%,
    #9d1dff 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
.col-1 h2 {
  padding: 100px 0 0 0;
  font-size: 64px;
  position: relative;
  color: #202429;
  font-family: HalvarBold;
  display: inline-block;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.col-1 p {
  font-family: HalvarRegular;
  font-size: 40px;
  position: relative;
  color: #202429;
  margin: 200px 0 0;
}

.col-1 h2 span1 {
  font-family: HalvarRegular;
  color: #0073ff;
  font-size: 32px;
}
.col-1 p span2 {
  font-family: HalvarLight;
  color: #202429;
}
.col-2 {
  position: absolute;
  right: 8%;
  top: 275px;
  transition: all 0.2s ease-in-out;
  float: right;
  display: flex;
  flex-direction: column-reverse;
}
.col-2:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.social-links {
  padding: 20px 0 0;
  float: left;
  font-family: HalvarRegular;
}
.social-links a {
  margin: auto;
  color: #0073ff;
  font-family: HalvarRegular;
  font-size: 48px;
  position: relative;
  text-decoration: none;
  float: left;
}
.social-links a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.social-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: #fff;
}
.social-links a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.social-links .vk::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: #0077ff;
  z-index: -1;
  transition: transform 0.3s ease;
}
.social-links .gmail::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: rgb(255, 22, 73);
  z-index: -1;
  transition: transform 0.3s ease;
}
.social-links .number::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: #90dcff;
  z-index: -1;
  transition: transform 0.3s ease;
}
.social-links .whatsapp::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: #28d146;
  z-index: -1;
  transition: transform 0.3s ease;
}
.social-links .behance::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: #053eff;
  z-index: -1;
  transition: transform 0.3s ease;
}
.social-links .telegram::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: #00c8ff;
  z-index: -1;
  transition: transform 0.3s ease;
}
.social-links a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 1;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #ff4400 25%,
    #ff0026 50%,
    #ff0066 75%,
    #bf00ff 100%
  );
  z-index: -1;
  transition: transform 0.3s ease;
}
.proekt:hover {
  background-size: 0 0.5em, 100% 0.5em;
}
.proekt svg {
  display: none;
}
.proekt {
  cursor: pointer;
  position: relative;
  margin: -100px 0 100px;
}
.proekt p {
  font-family: HalvarRegular;
  font-size: 36px;
  color: #202429;
}
.proekt img {
  float: none;
  display: none;
}
.proekt h2 {
  display: inline-block;
  font-family: HalvarBlack;
  font-size: 144px;
  color: #202429;
}
@media only screen and (max-width: 1600px) {
  .nav-open .main {
    transform: translateX(0%);
  }
  .nav {
    height: 1180px;
    bottom: 0;
    transform: translateY(-200%);
  }
  .nav-open .nav .nav-links-container ul a {
    text-align: center;
    float: none;
    display: inline-block;
  }
  .nav .nav-links-container {
    align-items: center;
    align-content: center;
  }
  .nav-open .nav {
    position: absolute;
    overflow: visible;
    bottom: 0;
  }
  .nav .nav-links-container ul {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    float: none;
    list-style: none;
    display: inline-block;
    font-family: "HalvarExtraBold";
    font-size: 64px;
  }
  .nav-open .nav-icon-2 span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-open .nav-icon-2 span:nth-child(2) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-open .nav-icon-2 span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    bottom: 13px;
    left: 0px;
  }
  nav ul li a {
    word-break: break-all;
    text-decoration: none;
    color: #202429;
    font-size: 20px;
    font-family: HalvarBold;
  }
  .nav-icon-2 {
    margin: auto;
    width: 40px;
    height: 28px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-2 span {
    background-color: #202429;
    position: absolute;
    transition: all 0.1s;
  }
  .nav-icon-2 span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    top: 0px;
    left: 0px;
  }
  .nav-icon-2 span:nth-child(2) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-icon-2 span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-2:not(.open):hover span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    top: 5px;
    left: 0px;
    transition: all 0.1s;
  }
  .nav-icon-2:not(.open):hover span:nth-child(2) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
    transition: all 0.1s;
  }
  .nav-icon-2:not(.open):hover span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    bottom: 5px;
    left: 0px;
    transition: all 0.1s;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .row {
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }
  .col-1 {
    display: block;
    position: relative;
    color: #202429;
    flex-basis: 80%;
    text-align: center;
  }
  .infinity {
    animation: marquee 3s linear infinite;
  }
  .col-1 h3 {
    text-align: center;
    font-size: 64px;
  }
  .col-1 h2 {
    padding: 50px 0 0 0;
    font-size: 48px;
    text-align: center;
    position: relative;
    color: #202429;
  }
  .col-1 p {
    text-align: center;
    font-family: HalvarRegular;
    font-size: 18px;
    position: relative;
    color: #202429;
    margin: 50px 0 0;
  }
  .col-1 p span {
    font-family: HalvarBold;
    color: #202429;
  }
  .col-1 p span2 {
    font-family: HalvarLight;
    color: #202429;
  }
  .col-2 {
    position: relative;
    top: 0;
    right: 0%;
    float: none;
    flex-basis: 80%;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 50px 0;
    box-shadow: 0px 4px 40px 0px rgba(108, 108, 108, 0.094);
  }
  .col-2 .ava {
    width: 100%;
    height: 100%;
  }
  .social-links {
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 20px 0;
  }
  .social-links ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-links a {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    color: #0077ff;
  }
  .social-links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  .proekt {
    position: relative;
    margin: 50px 0 0;
    text-align: center;
  }
  .proekt :hover h3 {
    background-size: 0 0.1em, 100% 0.1em;
  }
  form {
    margin: auto;
    width: 100%;
  }
  form > input {
    flex: 1 1 10ch;
    margin: 0.5rem;
  }

  form > input[type="email"] {
    flex: 3 1 30ch;
  }
  input {
    border: none;
    font-family: HalvarRegular;
    font-size: 16px;
    background: #fafafa;
    border-radius: 200px;
    padding: 30px 45px;
    transition: all 0.3s;
    border: 0px solid #e8e8e8;
  }
  .proekt p {
    font-family: HalvarRegular;
    font-size: 24px;
    color: #202429;
  }
  .phone {
    display: flex;
  }
  input[type="submit"] {
    justify-content: center;
    padding: 30px;
    font-size: 16px;
    float: left;
  }
  .cpls {
    display: none;
  }
  .arno {
    display: none;
  }
  .cauldy {
    display: none;
  }
  .col-1 span4 {
    font-size: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART *ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART*/

/*ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART *ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART*/

/*ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART *ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART*/

/*ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART *ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART ADAPTIVE PART*/
@media only screen and (max-width: 1280px) {
  .nav-open .main {
    transform: translateX(0%);
  }
  .nav {
    height: 1180px;
    bottom: 0;
    transform: translateY(-200%);
  }
  .nav-open .nav .nav-links-container ul a {
    text-align: center;
    float: none;
    display: inline-block;
  }
  .nav .nav-links-container {
    align-items: center;
    align-content: center;
  }
  .nav-open .nav {
    position: absolute;
    overflow: visible;
    bottom: 0;
  }
  .nav .nav-links-container ul {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 40%;
    float: none;
    list-style: none;
    display: inline-block;
    font-family: "HalvarExtraBold";
    font-size: 48px;
  }
  .nav-open .nav-icon-2 span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-open .nav-icon-2 span:nth-child(2) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-open .nav-icon-2 span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    bottom: 13px;
    left: 0px;
  }
  nav ul li a {
    word-break: break-all;
    text-decoration: none;
    color: #202429;
    font-size: 20px;
    font-family: HalvarBold;
  }
  .nav-icon-2 {
    margin: auto;
    width: 40px;
    height: 28px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-2 span {
    background-color: #202429;
    position: absolute;
    transition: all 0.1s;
  }
  .nav-icon-2 span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    top: 0px;
    left: 0px;
  }
  .nav-icon-2 span:nth-child(2) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-icon-2 span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-2:not(.open):hover span:nth-child(1) {
    width: 100%;
    height: 2px;
    display: block;
    top: 5px;
    left: 0px;
    transition: all 0.1s;
  }
  .nav-icon-2:not(.open):hover span:nth-child(2) {
    width: 100%;
    height: 2px;
    display: block;
    top: 13px;
    left: 0px;
    transition: all 0.1s;
  }
  .nav-icon-2:not(.open):hover span:nth-child(3) {
    width: 100%;
    height: 2px;
    display: block;
    bottom: 5px;
    left: 0px;
    transition: all 0.1s;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .row {
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }
  .col-1 {
    display: block;
    position: relative;
    color: #202429;
    flex-basis: 80%;
    text-align: center;
  }
  .infinity {
    animation: marquee 3s linear infinite;
  }
  .col-1 h3 {
    text-align: center;
    font-size: 48px;
  }
  .col-1 h2 {
    padding: 50px 0 0 0;
    font-size: 40px;
    text-align: center;
    position: relative;
    color: #202429;
  }
  .col-1 p {
    text-align: center;
    font-family: HalvarRegular;
    font-size: 18px;
    position: relative;
    color: #202429;
    margin: 50px 0 0;
  }
  .col-1 p span {
    font-family: HalvarBold;
    color: #202429;
  }
  .col-1 p span2 {
    font-family: HalvarLight;
    color: #202429;
  }
  .col-2 {
    position: relative;
    top: 0;
    right: 0%;
    float: none;
    flex-basis: 80%;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 50px 0;
    box-shadow: 0px 4px 40px 0px rgba(108, 108, 108, 0.094);
  }
  .col-2 .ava {
    width: 100%;
    height: 100%;
  }
  .social-links {
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 20px 0;
  }
  .social-links ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social-links a {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: #0077ff;
  }
  .social-links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  .proekt {
    position: relative;
    margin: 50px 0 0;
    text-align: center;
  }
  .proekt :hover h3 {
    background-size: 0 0.1em, 100% 0.1em;
  }
  form {
    margin: auto;
    width: 100%;
  }
  form > input {
    flex: 1 1 10ch;
    margin: 0.5rem;
  }

  form > input[type="email"] {
    flex: 3 1 30ch;
  }
  input {
    border: none;
    font-family: HalvarRegular;
    font-size: 10px;
    background: #fafafa;
    border-radius: 200px;
    padding: 30px 45px;
    transition: all 0.3s;
    border: 0px solid #e8e8e8;
  }
  .proekt p {
    font-family: HalvarRegular;
    font-size: 20px;
    color: #202429;
  }
  .proekt h3 {
    display: block;
    font-family: HalvarBlack;
    font-size: 48px;
    color: #202429;
  }
  .proekt svg {
    width: 132px;
    height: 134px;
    justify-content: center;
    position: relative;
    float: none;
    transition: all 0.2s;
    display: inline-block;
    margin: 70px;
  }
  .proekt svg:hover {
    position: relative;
    transform: scale(1.3);
    background: linear-gradient(
      to right,
      #9d1dff 0%,
      #6eeeff 20%,
      #00e0ff 40%,
      #e64dff 60%,
      #ff5087 80%,
      #9d1dff 100%
    );
    background-size: 200% auto;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-fill-color: transparent;
  }
  .proekt svg:active {
    transform: scale(0.9);
  }
  .phone {
    display: flex;
  }
  input[type="submit"] {
    justify-content: center;
    padding: 30px;
    font-size: 12px;
    float: right;
  }
  .cpls {
    display: none;
  }
  .arno {
    display: none;
  }
  .cauldy {
    display: none;
  }
  .col-1 span4 {
    font-size: 36px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 375px) {
  .nav .nav-links-container ul {
    font-size: 40px;
  }
  .details > h3 {
    font-size: 30px;
  }
}
